
	* {
		margin: 0;
	}
	html, body {
		height: 100%;
	}
	.page-wrap {
	  min-height: 100%;
	  /* equal to footer height */
		margin-bottom: -60px; 
	}
	.page-wrap:after {
	  content: "";
	  display: block;
	}
	.site-footer {
	  /* .push must be the same height as footer */
		height: 60px; 
		margin-top: 10px;
	}


	.contenedor-ini{
	padding-top: 50px;
	padding-bottom: 20px;
	margin-bottom:30px;
	color:inherit;
	background-color:#eee
	}
	
	.lider-header{
	background-color:#377AAA
	}
	.lider-search{
	padding-top:50px;
	padding-bottom:10px;
	}
	
	.info-error{
	color:red
	}
	
	.info-footer{
	color:white
	}
	.info-result{
	font-size: 25px;
	color:#377AAA
	}
	.info-resultstatic{
	font-size: 25px;
	}
	.info-result-row{
		margin-top:60px;
		margin-bottom: 30px;
	}
	
	.lider-brand{
	float:left;
	height:50px;
	padding:15px 25px;
	font-size:24px;
	color:white;
	line-height:20px}
	.lider-brand:focus,
	.lider-brand:hover{text-decoration:none}

	
	