<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LLD Multilingual Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Linguistic Linked Data Multilingual Search</h1>
    <form action="#" th:action="@{/search}" th:object="${searchQuery}" method="post">
    <table>
            <tr>
                <td>Search term: </td>
                <td><input type="text" th:field="*{term}" placeholder="term to be translated" /></td>
                <td th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></td>
            </tr>
            <tr>
                <td>Input language: </td> 
                <td><select th:field="*{langSource}" name="language">
                        <option value="" >-- select an option --</option>
                        <option th:each="lang : ${languagesFrom}" 
                                th:value="${lang}" 
                                th:text="${lang}">
                        </option>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('langSource')}" th:errors="*{langSource}"></td>
            </tr>
            <tr>
                <td>Translation language:</td>
                <td><select th:field="*{langTarget}">
                        <option th:each="langT : ${languagesTo}" 
                                th:value="${langT}" 
                                th:text="${langT}">
                        </option>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('langTarget')}" th:errors="*{langTarget}"></td>
            </tr>
            <tr>
                <td>Get babelnet synsets: </td>
                <td><input type="checkbox" th:field="*{babelnet}" /></td>
            </tr>
            <tr>
                <td>Get indirect translations (not compatible with "All" option for target language): </td>
                <td><input type="checkbox" th:field="*{indirect}" /></td>
            </tr>
            <tr>
                <td>Set pivot language (optional): </td> 
                <!-- <td><input type="text" th:field="*{langSource}" /></td> -->
                <td><select th:field="*{pivotLanguage}" >
                        <option th:each="langP : ${languagesTo}" 
                                th:value="${langP}" 
                                th:text="${langP}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Search" /> <input type="reset" value="Reset" /></td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
    $('language').onchange = filterDictionaries;
    
    function filterDictionaries() {
    	$.getJSON()
    }
    </script>
</body>
</html>